################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bromite-uazo/config
/.vs/bromite-uazo/FileContentIndex
/.vs
