################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
images/github-runner/.env
images/privoxy/privoxy.conf.save
images/remote-index/bromite.idx
/images/terraform-buildgrid/.terraform
/images/terraform-buildgrid/.vs
/images/terraform-buildgrid/.terraform.lock.hcl
/images/terraform-buildgrid/terraform.auto.tfvars
/images/terraform-buildgrid/ssh-key-2021-06-01.key.pub
/images/terraform-buildgrid/ssh-key-2021-06-01.key
/images/terraform-buildgrid/private_key.pem
